model_type = "mlp";
dataset_type = "playground";
vectorization = "scalar";

model_hyperparameters =
    {
        loss = "mse";
        learning_rate = 0.03;
    };

model_design =
    (
        {
            input_size = 2;
            output_size = 4;
            activation = "relu";
        },
        {
            input_size = 4;
            output_size = 2;
            activation = "relu";
        },
        {
            input_size = 2;
            output_size = 1;
            activation = "tanh";
        }
    );

dataset =
    {
        data_path = "./playground/circle_dataset.csv";
        batch_size = 1;
        split_ratio = 0.8;
    };

train =
    {
        epochs = 50;
    };

test =
    {
        is_pre_trained = false;
        
        # Uncomment the following line to test the model with the weights saved in the file (using playground/model.py)
#         weights_path = "./playground/wts_circle_2-4-2-1.wt";
    };